<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensor.org.dao.mapper.user.TeacherVOMapper">
    <resultMap id="TeacherResultMap" type="com.tensor.org.dao.enpity.user.TeacherVO">
        <id column="teacher_no" jdbcType="VARCHAR" property="teacherNo"/>
        <result column="teacher_real_name" jdbcType="VARCHAR" property="teacherRealName"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <collection property="organizationVOS" column="teacher_no"
                    fetchType="lazy"
                    select="com.tensor.org.dao.mapper.organization.OrganizationVOMapper.findAllByTeacherNo" />
    </resultMap>

    <!--根据教师编号查找教师账户-->
    <select id="findOneTeacherVO" resultType="com.tensor.org.dao.enpity.user.TeacherVO">
        select * from user_account u left join teacher t on u.user_id=t.user_id where teacher_no = #{teacherNo}
    </select>

    <!--查找所有的教师账户-->
    <select id="findAllTeacherVO" resultType="com.tensor.org.dao.enpity.user.TeacherVO">
        select * from user_account u left join teacher t on u.user_id=t.user_id
    </select>

</mapper>